
<p class = logo>
	<img class = 'ban' src="/bbb.png">
	<!-- <img src = 'hwahaelogo2.png'></img> -->
</p>

<div class = 'jr'>
	<p class = 'png5'>
		<img src = 'skin2.png' hspace=115>
		<img src = 'discount.png' hspace=100>
		<img src = 'whole1.png' hspace=109>
		<img src = 'lip1.png' hspace=109>
		<img src = 'soap.png' hspace=100>
	</p>

	<h2 class = 'text5'>
		스킨케어 한정특가 전체 메이크업 클렌징
	</h2>
	
</div>