.lg0 {
	text-align: center;
	margin-top: 130px;
	font-size: 40px;
	margin-bottom: 60px;
}

.field1 {
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: 30px;
	word-spacing : 20px;
}


.field2 {
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: 50px;
	word-spacing : 20px;
}

.field3 {
	text-align: center;
	margin-top: 10px;
	font-size: 17px;
	margin-bottom: 40px;
}

.actions {
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
	margin-bottom: 60px;
	word-spacing : 20px;
	
}

.rg {
	margin-top: 80px;
	font-size : 28px;
	margin-bottom: 30px;
	text-align: center;
}
.field11 {
	margin-top: 30px;
	margin-bottom: 30px; 
	font-size: 18px;
	text-align: center;
}
.field22 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.field33 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.form-group44 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.form-group55 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.form-group66 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.form-group77 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.form-group88 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.form-group99 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.form-group101 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.btn-group1 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.btn-group2 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.pwl {
	margin-left: 75px;
	font-size: 14px;
}

.fyp {
	text-align: center;
	margin-top: 130px;
	font-size: 40px;
	margin-bottom: 60px;
 }
.field100{
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: 50px;
	word-spacing : 20px;
}
.ed{
	text-align: center;
	margin-top: 80px;
	font-size: 40px;
	margin-bottom: 70px;

}
.mi{
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 30px;
}
.np{
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 30px;

}
.pc{
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 30px;
	
}
.cp{
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 30px;

}
// .cma{
// 	margin-top: 20px;
// 	font-size: 20px;
// 	margin-bottom: 20px;

// }
.unh{
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: 50px;
}