// Place all the styles related to the hwahae_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.input {
  width: 700%;
  border: 2px solid #5EDFDF;
}

.btn {
  font-family: Arial;
  font-size: 20px;
  background: #DEEDED;
  padding: 10px 20px 10px 20px;
}
