.cons {
	margin-top : 120px;
	margin-bottom : 80px;
	margin-left : 10px;
	font-size: 40px;
	text-align : center;
}

.cons2 {
	margin-bottom: 50px;
	font-size: 20px;
}

.consort {
	margin-top : 120px;
	margin-bottom : 100px;
	font-size : 20px;
}

.consort1 {
	font-size : 15px;
}

.consort2 {
	font-size : 15px;
}

.consort3 {
	font-size : 15px;
}
.newcon {
	text-align : center;
	font-size : 40px;
	margin-top : 80px;
	
}
.con33 {
	text-align : center;
	font-size : 15px;
	margin-top : 30px;
}
.field0 {
	margin-top : 70px;
	margin-bottom : 30px;
}
.field00 {
	margin-top : 60px;
	margin-bottom : 30px;
}
.field00 {
	margin-top : 60px;
	margin-bottom : 30px;
}
.edcon {
	text-align: center;
	margin-top : 80px;
	margin-bottom : 40px;
}

.happy {
	font-size: 150%;
	line-height: normal;
}

.happy2 {
	font-size: 150%;
	line-height: normal;
}