// Place all the styles related to the product_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mr {
	margin-top:120px;
	margin-bottom :80px;
	font-size : 40px;
	text-align : center;
}
