// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.input {
  width: 700%;
  border: 2px solid #5EDFDF;
}

.prd {
	margin-top: 120px;
	font-size: 40px;
	margin-bottom: 80px;
	text-align : center;
}
.prd1 {
	margin-bottom: 30px;
	font-size: 20px;
}

.hoho {
	margin-top: 120px;
}

.showprd {
	float:left;
	margin-left:400px;
	margin-right:50px;
	
}

.img {
	margin:50px;
	text-align:center;
}

.riv {
	margin-top : 40px;
	margin-left : 800px;
	font-size : 20px;
}

.rivw {
	margin-left:900px;
	font-size:17px;
}
.ord {
	margin-left : 900px;
	font-size:17px;
	
}


 li {
    margin: 20px 0px;
}

.btn-group {
	text-align:center;
	font-size:17px;
}

.ch{
	text-align:center;
}
